
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

body{
    min-height: 100vh;
    font-family: "poppins, sans-serief";
}

.container{
    display: flex;
    align-items: center;
}

.tittle{

    font-size: ;
}